/* Стили для кнопки открытия модального окна */
.open-modal-button {
    border-radius: 20px;
    background-color: #1890ff;
    color: white;
    font-weight: bold;
}

/* Стили для модального окна */
.promo-code-modal .ant-modal-content {
    border-radius: 15px;
}

/* Стили для поля ввода промокода */
.promo-input {
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Стили для таблицы */
.promo-table {
    margin-top: 20px;
}

/* Стили для анимации загрузки */
.ant-spin {
    display: block;
    margin-bottom: 20px;
}