
body {
    background-color: #f0f2f5;
    overflow: hidden;
}

.breadcrumb-link:hover {
    background: #f0f9ff;
    transform: translateY(-1px);
}

.breadcrumb-link:active {
    transform: translateY(0);
}

.breadcrumb-link {
    position: relative;
}

.breadcrumb-link:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background: #1890ff;
    transition: width 0.3s;
}

.breadcrumb-link:hover:after {
    width: 100%;
}

/* Стили для удаленных заказов */
.deleted-order-row {
    background-color: #FFF2F0 !important;
}

.deleted-order-row:hover td {
    background-color: #FFE6E6 !important;
}

.deleted-order-row td {
    border-bottom: 1px solid #FFCCC7 !important;
    border-right: 1px solid #FFCCC7 !important;
}

.paid-order-row:hover td {
    background-color: #BAE7FF !important;
}

.paid-order-row td {
    border-bottom: 1px solid #87e8de !important;
    border-right: 1px solid #87e8de !important;
}

/* Фикс для анимации заглушки */
.ant-empty-image {
    display: flex;
    justify-content: center;
    align-items: center;
}